<!--The content below is only a placeholder and can be replaced.-->
<button (click)="useLanguage('en')">{{ 'languages.en' |translate}}</button>
<button (click)="useLanguage('de')">{{ 'languages.de' |translate}}</button>
<button (click)="useLanguage('fr')">{{ 'languages.fr' |translate}}</button>
<button (click)="useLanguage('bn')">{{ 'languages.bn' |translate}}</button>

<app-header-footer></app-header-footer>

<h5>{{ 'main_app_actions.title' | translate }}</h5>
<table>
  <tr>
    <td>

      <div>
        <button class="new-button" (click)="editorTypeSelection('useraddress')">
          {{ 'main_app_actions.addressRegistrationActions' | translate }}
        </button>

      </div>
      <div>
        <button class="new-button" (click)="editorTypeSelection('userrigistration')">
          {{ 'main_app_actions.userRegistrationActions' | translate }}
        </button>
      </div>
      <div>
        <button class="new-button" (click)="editorTypeSelection('userrole')">
          {{ 'main_app_actions.userRoleRegistrationActions' | translate }}
        </button>
      </div>
      <div>
        <button class="new-button" (click)="editorTypeSelection('plot')">
          {{ 'main_app_actions.plotRegistrationActions' | translate }}
        </button>
      </div>
      <div>
        <button class="new-button" (click)="editorTypeSelection('building')">
          {{ 'main_app_actions.buildingRegistrationActions' | translate }}
        </button>

      </div>
      <div>
        <button class="new-button" (click)="editorTypeSelection('floor')">
          {{ 'main_app_actions.floorRegistrationActions' | translate }}
        </button>
      </div>

      <div>
        <button class="new-button" (click)="editorTypeSelection('unit')">
          {{ 'main_app_actions.unitRegistrationActions' | translate }}
        </button>
      </div>

      <div>
        <button class="new-button" (click)="editorTypeSelection('drawModifyVectorFeature')">
          {{ 'main_app_actions.drawModifyVectorFeature' | translate }}
        </button>

      </div>

      <h5>{{ 'geo_map_actions.title' | translate }} </h5>
      <div>
        <button class="buttonSaveSetMap" (click)="editorTypeSelection('geomapportal')">
          {{ 'geo_map_actions.geoMapPortal' | translate }}</button>
      </div>

      <div>
        <button class="buttonSaveSetMap" (click)="editorTypeSelection('mapaddresses')">
          {{ 'geo_map_actions.addressRegistred' | translate }}</button>
      </div>
      <div>
        <button class="buttonSaveSetMap" (click)="editorTypeSelection('mapplots')">
          {{ 'geo_map_actions.plotRegistred' | translate }}
        </button>

      </div>

      <div>
        <button class="buttonSaveSetMap" (click)="editorTypeSelection('mapbuildings')">
          {{ 'geo_map_actions.buildingRegistred' | translate }}
        </button>

      </div>

      <div>
        <button class="buttonSaveSetMap" (click)="editorTypeSelection('mapfloors')">
          {{ 'geo_map_actions.floorRegistred' | translate }}
        </button>

      </div>
      <div>
        <button class="buttonSaveSetMap" (click)="editorTypeSelection('mapunits')">
          {{ 'geo_map_actions.unitRegistred' | translate }}
        </button>

      </div>
      <div>
        <button class="buttonSaveSetMap" (click)="editorTypeSelection('geoservermap')">
          {{ 'geo_map_actions.geoservermap' | translate }}
        </button>

      </div>

    </td>

    <td>
      <app-address-info *ngIf="showUserAddress"></app-address-info>
    </td>
    <td>
      <app-user-registration *ngIf="showUserRegistration"></app-user-registration>
    </td>
    <td>
      <app-user-role *ngIf="showUserRole"></app-user-role>
    </td>
    <td>
      <app-plot-info *ngIf="showUserPlot"></app-plot-info>
    </td>
    <td>
      <app-building-info *ngIf="showUserBuilding"></app-building-info>
    </td>
    <td>
      <app-floor-info *ngIf="showUserFloor"></app-floor-info>
    </td>
    <td>
      <app-unit-info *ngIf="showUserUnit"></app-unit-info>
    </td>

    <td>
      <app-draw-modify-vector-feature *ngIf="drawModifyVectorFeature"></app-draw-modify-vector-feature></td>
      <td>
        <app-geo-map-portal *ngIf="showGeoMapPortal"></app-geo-map-portal>
      </td>

      <td>
        <app-geoserver-application-portal *ngIf="showGeoserverMapUnits"></app-geoserver-application-portal>
      </td>

    <td>
      <app-address-map *ngIf="showUserMapAddresses"></app-address-map>
    </td>
    <td>
      <app-plot-map *ngIf="showUserMapPlots"></app-plot-map>
    </td>
    <td>
      <app-building-map *ngIf="showUserMapBuildings"></app-building-map>
    </td>
    <td>
      <app-floor-map *ngIf="showUserMapFloors"></app-floor-map>
    </td>
    <td>
      <app-unit-map *ngIf="showUserMapUnits"></app-unit-map>
    </td>


  </tr>

  <tr>
    <td>
      <div id="mouse-position"></div>
      <!--  <div id="objectInfo"></div>-->
    </td>

  </tr>
</table>


<router-outlet></router-outlet>
